body {
  font-family: monospace;
  padding-top: 100;
  width: 1000;
  margin: 0 auto;
  background-color: #67D5B5;
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, red, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, red, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, red, yellow); /* Standard syntax */
  background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-attachment: fixed;
}

#defaultCanvas0 {
  padding: 0;
  margin: 0 auto;
  display: block;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-container {
  width: 640;
  margin: 0 auto;
  user-select: none;
}

.btn {
  font-size: 24px;
  text-align: center;
  margin-right: 20;
  display: inline-block;
  padding: 10;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover{
   background-color: hsla(142, 92%, 74%, 0.63);
   cursor: hand;
}
